---
// INDEX HOME

import Layout from '../../layouts/Layout.astro';
import FtHero from '../../components/FtHero.astro';
import FtPresent from '../../components/FtPresent.astro';
import FtProb from '../../components/FtProb.astro';
import FtObjetivo from '../../components/FtObjetivo.astro';
import FtQuote from '../../components/FtQuote.astro';
import FtSolucion from '../../components/FtSolucion.astro';
import FtGallery from '../../components/FtGallery.astro';
import FtFigma from '../../components/FtFigma.astro';







---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VEC - FICTION TRACK APP</title>
   

    
</head>
<body>
    

<Layout>
	<FtHero />
    <FtPresent />
    <FtObjetivo />
    <FtProb />
    <FtQuote />
    <FtSolucion />
    <FtGallery />
    <FtFigma />

</Layout>

</body>
</html>