---
// INDEX HOME
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Webcode from '../components/Webcode.astro';
import Motiongraph from '../components/MotionGraph.astro';
import Marketing from '../components/Marketing.astro';



---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
</head>
<body>
	<Layout>
		<Welcome />
		<Webcode />
		<Motiongraph />
		<Marketing />
	</Layout>
</body>
</html>

