---
const year = new Date().getFullYear();

---

<footer>

   <p> All rights reserved {year}©VECVECVEC  </p>

</footer>

<style>
    footer{
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 5;
        font-family: 'Inter';
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		color: #C19ABC;
		letter-spacing: 0.04em;
		text-decoration: none;
       
    }

    

</style>