---

---


  <div class="main">
     <h1 class="titulo">Start the experience
                    </h1>
<iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="375" height="812" src="https://embed.figma.com/proto/yN59lwOIIKpO1hA4kmwRyL/FICTION-TRACK?node-id=1-97&p=f&viewport=2566%2C1999%2C1.07&scaling=min-zoom&content-scaling=fixed&starting-point-node-id=140%3A1003&page-id=0%3A1&embed-host=share" allowfullscreen></iframe>
</div>

<style>


    .main{
            display: flex;
            
            width: 100%;
            height: 100vh;
            margin: 0 auto;
         
            justify-content: center;
            font-family: 'Inter';
            color: #7D92FF;
          
            flex-direction: column;
            align-items: center;
            flex-wrap: nowrap;
            background: #FFF;
background: linear-gradient(1deg,rgba(255, 255, 255, 1) 38%, rgba(240, 242, 255, 1) 79%);
		
	}

    h1{
        animation: fade 1s ease-in ;
        font-size: clamp(2.5rem, 5vw, 4rem);
        
        font-weight: 700;
        opacity: 0.6;
        
        text-shadow: 2px 2px 6px #7D92FF;
        }


     @media (max-width: 768px) {
    .main {
        flex-direction: column;
        height: auto;
        min-height: 100vh;
        padding: 2rem 1.5rem;
        box-sizing: border-box;
        
    }

    .descripcion {
        width: 100%;
        margin-left: 0;
        padding-right: 0;
        order: 1;
    }

    .imagen {
        width: 100%;
        order: 2;
    }

    h1 {
        margin-top: 0;
    }

    p {
        line-height: 28px;
    }

    .button {
        position: relative;
        left: auto;
        top: auto;
        width: 100%;
        max-width: 300px;
        margin-top: 1.5rem;
    }
}   
</style>