
---
---


		<div class="info-bar">

  <div class="info-col info-col--wide">
    <div class="accent-bar"></div>
    <h4>Objective</h4>
    <ul>
   <li> Encourage daily physical activity in a natural way</li>
          <li>Link the habit of walking with an immediate reward</li>
      <li>Improve the user’s mood and consistency</li>
      </ul>
  </div>

  <div class="info-col">
    <h4>My Role</h4>
    <ul>
      <li>Research & Concept</li>
      <li>UX/UI Design</li>
      <li>Prototyping in Figma</li>
      <li>Motion Design</li>
      <li>Interaction Design</li>
    </ul>
  </div>

  <div class="info-col">
    <h4>Tools</h4>
    <ul>
      <li>Figma</li>
      <li>Illustrator</li>
      <li>Photoshop</li>

    </ul>
  </div>



</div>







<style>


     .info-bar {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
  background-color: #ffffff;
  align-items: start;
  font-family: 'Inter';
}

.info-col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.info-col--wide {
  position: relative;
  padding-top: 1.5rem;
  margin-left: 100px;
 
}


.accent-bar {
  width: 60px;
  height: 5px;
  background-color: #7D92FF;
  margin-bottom: 1rem;
}

h4 {
  font-size: 14px;
  font-weight: 700;
  color: #7D92FF;
  margin: 0 0 0.5rem 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  
}

ul li {
  font-size: 14px;
  color: #444;
  list-style: none;
}

.info-col p {
  font-size: 14px;
  color: #444;
  line-height: 1.7;
  margin: 0;
}

@media (max-width: 768px) {
    .info-bar {
        grid-template-columns: 1fr;
        padding: 1.5rem;
        gap: 1.5rem;
        margin: 0 1.5rem;
            display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    text-align: center;
    }

    .info-col--wide {
        margin-left: 0;
    }

    .info-col{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

}

</style>